<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cjlabs.nasagalleryapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NasaApp"
        android:allowBackup="true"
        android:icon="@drawable/place_holder"
        android:label="@string/app_name"
        android:roundIcon="@drawable/place_holder"
        android:supportsRtl="true"
        android:theme="@style/Theme.NASAGalleryApp"
        tools:targetApi="31">
        <activity
            android:name=".view.NasaGalleryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NASAGalleryApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>